# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/

# Flask
instance/

# IDEs
.vscode/
.idea/

# Models (opsional, jika Anda ingin mengecualikan model .pkl)
# Jika Anda ingin push model, hapus baris ini
# model/*.pkl